[submodule "Obsidian"]
	path = Obsidian
	url = git@github.com:svenssonjoel/Obsidian
[submodule "gpu_graph"]
	path = gpu_graph
	url = git@gitlab.crest.iu.edu:gpu-graphs/gpu_graph.git
[submodule "interface_brainstorming/02_monad-tune"]
	path = interface_brainstorming/02_monad-tune
#	url = https://github.com/vollmerm/monad-tune
        url = git@github.com:vollmerm/monad-tune.git
[submodule "interface_brainstorming/06_ExtensibleEffects/extensible-effects"]
	path = interface_brainstorming/06_ExtensibleEffects/extensible-effects
	url = git@github.com:suhailshergill/extensible-effects.git
